@import '~quasar/dist/quasar.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~@mdi/font/css/materialdesignicons.css';

.doc_note {
    background-color: #C1F4CD;
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px 24px;
    font-size: 1em;
    border-width: 0 5px 0;
    border-style: solid;
    border-color: #21BA45;
}
